{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="twelve columns centered">
    <h2>Data</h2>
    <p>The data used by this application comes from <a href="http://data.worldbank.org/indicator/PA.NUS.PRVT.PP/countries?display=default">The World Bank</a>.  The data was then converted into a simplified table by taking the latest available data for every country.  The source data used by this application is on <a href="http://github.com/nigelbabu/pppconverter">GitHub</a> along with the code.</p>
  </div>
</div>
{% endblock %}
