{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="twelve columns centered">
    <h2>Equivalent Income Calculator</h2>
    <p>What is the equivalent amount of money you should be paid in local currency if you were to move. This calculator will help!</p>
  </div>
</div>

<div class="row">
  <div class="six columns centered">
    <form method="POST" class="custom">
      {{ form.csrf_token }}
      {{ form.from_country.label }} {{ form.from_country }}
      {{ form.salary.label }} {{ form.salary(placeholder="For Example, 100000") }}
      {{ form.to_country.label }} {{ form.to_country }}
      <input type="submit" class="medium button" value="Calculate" />
    </form>
  </div>
</div>
{% if currency_value %}
<br />
  <div class="row">
    <div class="six columns centered">
      <div class="panel callout radius">
        In {{ tocountry.country_name }}, you should get {{ currency_value }} in local currency.
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(document).foundationCustomForms();
</script>
{% endblock %}
