{% extends 'layout.html' %}
{% block headerscripts %}
 <link rel="stylesheet" href="/static/js/leaflet/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="/static/js/leaflet/leaflet.ie.css" />
 <![endif]-->
{% endblock %}
{% block content %}
<div class="row">
  <div class="twelve columns centered">
    <h2>Equivalent Income Calculator</h2>
    <p>What is the equivalent amount of money you should be paid in local currency if you were to move. This calculator will help!</p>
  </div>
</div>

<div class="row">
  <div class="six columns centered">
    <form method="POST">
      {{ form.csrf_token }}
      {{ form.from_country.label }} {{ form.from_country }}
      {{ form.salary.label }} {{ form.salary(placeholder="For Example, 100000") }}
      {{ form.to_country.label }} {{ form.to_country }}
      <input type="submit" class="medium button" value="Calculate" />
    </form>
  </div>
</div>
{% if currency_value %}
<br />
  <div class="row">
    <div class="six columns centered">
      <div class="panel callout radius">
        In {{ tocountry.country_name }}, you should get {{ currency_value }} in local currency.
      </div>
    </div>
  </div>

{% endif %}
  <div class="row">
    <div class="six columns centered">
      <div id="map"></div>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
</script>
</script>
<script type="text/javascript" src="/static/js/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/js/countries.js"></script>
<script type="text/javascript">
var map = L.map('map').setView([51.505, -0.09], 13);
L.tileLayer('http://{s}.tile.cloudmade.com/{{ apikey }}/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
}).addTo(map);
var marker = L.marker([51.5, -0.09]).addTo(map);

</script>
{% endblock %}
