{% extends 'layout.html' %}
{% block headerscripts %}
  <link rel="stylesheet" href="/static/js/chosen/chosen.css" />
{% endblock %}
{% block content %}
<div class="row">
  <div class="twelve columns centered">
    <h2>Equivalent Income Calculator</h2>
    <p>Currency converters tell you that you can get &pound;{{ conversion_rate | round(2) }} for $100. But how much money would you need in London to buy the same things you'd buy in New York? This is where Purchasing Power Parity is useful.</p>
    <blockquote>
      <p>Purchasing Power Parity (PPP) is measured by finding the values (in USD) of a basket of consumer goods that are present in each country (such as orange juice, pencils, etc.). If that basket costs $100 in the US and $200 in England, than purchasing power parity exchange rate is 1:2.
      <footer><a href="http://simple.wikipedia.org/wiki/Purchasing_power_parity">Simple English Wikipedia</a></footer>
    </blockquote>
<div class="row">
  <div class="six columns centered">
    <form method="POST" id="salaryform">
      {{ form.csrf_token }}
      {{ form.from_country.label }} {{ form.from_country(id='from_country') }}
      {{ form.salary.label }} {{ form.salary(id='salary', placeholder="For Example, 100000") }}
      <small id="error_salary" class="hidden">Please enter a salary</small>
      {{ form.to_country.label }} {{ form.to_country(id='to_country') }}
      <input type="submit" class="medium button" value="Calculate" />
    </form>
  </div>
</div>
<br />
  <div class="row{% if not currency_value %} hidden{% endif %}" id="displayResult">
    <div class="six columns centered">
      <div class="panel callout radius" id="resultDiv">
        In {{ tocountry.name }}, you should get {{ currency_value }} in local currency.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six columns centered">
      <div id="map"></div>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript" src="/static/js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
  $('form select').chosen();
  $('form').submit(function (event) {
    $.getJSON('/json', function(data) {
      var from_country = Number($('#from_country').attr('value'));
      var to_country = Number($('#to_country').attr('value'));
      var salary = $('#salary');
      if (salary.attr('value') === '') {
        salary.addClass('error');
        $('#error_salary').removeClass('hidden');
        $('#error_salary').addClass('error');
      } else {
        $('#error_salary').removeClass('error');
        $('#error_salary').addClass('hidden');
        salary.removeClass('error');
        salary = salary.attr('value');
        var from_country_data = [];
        var to_country_data = [];
        $.each(data['countries'], function(key, country) {
          if(country['id'] === from_country) {
            from_country_data = country;
          } else if(country['id'] === to_country) {
            to_country_data = country;
          }
        });
        var equivalent_salary = (Number(salary) / from_country_data['ppp']) * to_country_data['ppp'];
        console.log("In " + to_country_data['name'] + ", you should get " + equivalent_salary + " in local currency.");
        $('#resultDiv').html("In " + to_country_data['name'] + ", you should get " + Math.round(equivalent_salary * 100)/100 + " in local currency.");
        $('#displayResult').removeClass('hidden');
      }
    });
    return false;
  });
</script>
{% endblock %}
